*{
      margin:0;
      padding:0;
      /*box-sizing:border-box;*/
      font-family:sans-serif;
}

.HomeServeHub-header{
  background-color: black;
  color: white;
  padding: 0.75rem;
}
.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.HomeServeHub-logo img{
  height: 4.35rem;;
}
.nav-menu{
  display: flex;
  gap:1.5rem ;
}
.hamburger{
  display:hidden;
}
.main{
    display:flex;
    flex-wrap: wrap;
    height:100%;
    width: 100%;
    line-height:3rem;
    overflow: hidden;
    background-image:url('carpentary.jpg') ;
    background-size: cover;
    justify-content: space-between;
    background-position: center;
    background-repeat: no-repeat
    
}

  



.content{
  height:100%;
  max-width:50rem;
  line-height:3.85rem;
  padding:9.25rem 2rem 2rem 3rem;
  color:#fff;
  font-size: 1.5rem;
}
p{
  margin:2rem;
  margin-left: 0px;
  line-height:1.5rem;
  font-family:serif;
  margin-right: 0px;
  font-size: 1.6rem;
  font-weight: 400;
  

}
.btn1{
  background-color: orange;
  height:3.4rem;
  width:9.25rem;
  font-size:1.25rem;
  border:none;
}
.btn1:hover{
  transform: rotate(8deg);
  color: rgba(255, 69, 0 ,0.8);
  background-color: #fff;
}

.form{
  min-height:37rem;
  max-width: 30rem;
  padding:4.35rem 1.25rem 1.25rem 1.25rem;
  background-color: rgb(228, 223, 223);
  color: black;
  border:0.1rem solid white;
  position:relative;
  top:3rem;
  
  line-height: 1.5rem;
  align-self:center;
 font-size:1.5rem;
  margin-right: 3rem;
}



.btn2{

  margin-left: 1.85rem;
   font-size:2rem;
   margin-top:1.25rem;
}
.btn2:hover{
  background-color: #fff;
  color:#000;
  transform: rotate(0deg);
}
input{
  min-height:2.5rem;
  min-width:26.5rem;
  margin: 1.25rem;
  font-size: 1.25rem;
  border-color: rgba(255, 255, 255,0.5);
}
#btn3{
  height: 5rem;
  width: 4.5rem;
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
  color:white;
  background-color: rgb(227, 80, 141);
  position:fixed;
  top:3.15rem;
  right:0px;
  text-align:center;
  z-index:1;
}
#btn4{
  height: 5rem;
  width: 4.5rem;
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
  color:white;
  background-color: rgb(105, 98, 238);
  position:fixed;
  top:8.75rem;
  right:0px;
  text-align:center;
  z-index: 1;
}
.main2{
  
  background-color: antiquewhite;
  color:#000;
  text-align:center;
  height:100%;
  /*width: 96%;*/
  padding: 2rem;
  margin-top:0.1rem;
  overflow: hidden;
}
.con{
  padding:1.25rem;
  }
h3{
  padding-top: 1rem;
  font-weight:700;
  font-size: 1.85rem;
}
.flex{
  height:100%;
  width:100%;
  margin:1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
 align-items: center;
  position:relative;
  right:2.25rem;

}
.flexa{
   height:80%;
  width:100%;
  margin:1rem;
 display: flex;
  justify-content: space-evenly;
  align-items: center;
  position:relative;
  right:2.25rem;
}


#icons{
  height: 4.7rem;
  width: 4.7rem;
  border-radius:50%;
  color:white;
  background-color: rgb(221, 144, 1);
   display: flex;
   flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 2.5rem;
  left: 2rem;
  
}
 i{
 
  font-size:2rem;
  align-self: center;
}
.flex1{
   flex-basis: 65%;
   min-height: 15rem;
  background-image: url('handyman.jpg');
  background-size: cover;
  background-position: center;
    background-repeat: no-repeat;
    filter:brightness(70%);

}
.flex-2{ 
   flex-basis: 30%;
      min-height: 15rem;

  background-image: url('renovation.jpg');
      background-size: cover;
      background-position: center;
    background-repeat: no-repeat;

}
.flex-3{ 
    flex-basis: 30%;  
     min-height: 15rem;

  background-image: url('electric.jpg');
      background-size: cover;
      background-position: center;
    background-repeat: no-repeat;

}
.flex4{
      flex-basis: 65%;
         min-height: 15rem;

  background-image: url('roofing.jpg');
      background-size: cover;
background-position: center;
    background-repeat: no-repeat;
}
#icons:hover{
  background-color: white;
  color:rgb(221, 144, 1);
}
.flex1:hover{
  font-size:x-large;
  color:#fff; 
  filter:brightness(50%);
  
}

.flex-2:hover{
  font-size:x-large;
  color:#fff; 
  filter:brightness(70%);
}
.flex-3:hover{
  font-size:x-large;
  color:#fff;
  filter:brightness(70%);
}
.flex4:hover{
  font-size:x-large;
  color:#fff;
  filter:brightness(70%);
}


.main3{
  text-align:center;
  height:100%;
  margin-top:0.1rem;
  padding:2rem;
  position:relative;
  right:0.2rem;
overflow: hidden;
}
#p{
  margin-top: 0.5rem;
  line-height:1.5rem;
  font-family:serif;
  font-size: 1.25rem;
  font-weight: 400;
  }
  #p1{
   line-height:1.05rem;
  font-family:serif;
  font-size: 1.25rem;
  font-weight: 400;
  position:relative;
  bottom:1rem;
  }
.flex2{
  height:80%;
  width:100%;
  padding:1.5rem;
  /*position:relative;
  right:0.2rem;*/
  display:grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-gap:2.25rem;


}
.flex-item{
  max-height:9.25rem;
 /* max-width:18.75rem;*/
  border:0.1rem solid rgba(224, 137, 44,0.3);
  padding-left:1.25rem;
  text-align:left;
  transition:1s;


}
.flex-item i{
  height:3rem;
  width:3rem;
  margin:0.5rem;
  position:relative;
  top:0.5rem;
  
}
.flex-item:hover{
  transform: rotate(8deg);
  background-color: rgba(224, 137, 44,0.3);
  border:none;
} 
.main4{
  /*height:80%;
  width: 96%;*/
  margin-top:0.1rem;
  padding:2rem;
  position:relative;
  right:0.2rem;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: hidden;
}
.content2{
  max-width:50rem;
}
.photo img{
  max-width: 30rem;
}

.plumb{
  min-height: 2.5rem;
  max-width: 28rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color:#2c2727;
   padding-left: 1rem;
  padding-right: 1rem;
}
.car{
  min-height: 2.5rem;
  max-width: 30rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: #2c2727;
   padding-left: 1rem;
  padding-right: 1rem;
}
.electric{
  min-height: 2.5rem;
  max-width: 33rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: #2c2727;
   padding-left: 1rem;
  padding-right: 1rem;
}
.reno{
  min-height: 2.5rem;
  max-width: 35rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: #2c2727;
  padding-left: 1rem;
  padding-right: 1rem;

}
.main5{
  background-color: #000;
  color:#fff;
  /*height:100%;
  width: 96%;*/
  margin-top:0.1rem;
  padding:2rem;
 /* position:relative;
  right:0.2rem;*/
  text-align: center;
  overflow: hidden;

}
.content3{
  position: relative;
  top:1rem;
}
.flex3{
  color: white;
 /* height:90%;
  width:100%;*/
  padding:1.5rem;
  
   display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  
}
inner{
  background-color: #000;
  color:#fff;
 
}
.icons2{
  height: 4rem;
  width: 4rem;
  border-radius:50%;
  color:rgb(221, 144, 1);
  background-color: #000;
  align-self:flex-end;
  position:relative;
  left:4rem;

}
h4{
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1.5rem;
}
h1 i{
  font-size: 1.5rem;
}
.main6{
  background-color: antiquewhite;
  height:80%;
  width:100%;
  max-width:1200px;
  margin:auto;
  padding:1.5rem;
  box-sizing: border-box;
  padding-left: 2rem;
  padding-right: 2rem;
  position:relative;
  right:0.2rem;
  overflow: hidden;
  .cont{
    position: relative;
    top: 2rem;
    text-align: center;
  }
  .flax{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px,1fr));
    justify-content: space-evenly;
    max-width:100% ;
    max-height: 90% ;
    align-items: center;
    position: relative;
    top: 1.5rem;
  }
  .con{
    min-height: 4rem;
    max-width: 4rem;
    color: #000;
    background-color: antiquewhite;
    border:0.2rem solid black;
    text-align: center;
    font-size: 2rem;
    position: relative;
    left: 2rem;
  }
  .con:hover{
    color: #fff;
    background-color:rgb(248, 119, 7);
    transform:rotate(8deg);
  }
  .con i{
    position: relative;
    top: 1rem;
  }
}
.cons{
  position: relative;
  left: 2rem;
}
.cons i{
  font-size:1.5rem;
  color: rgb(248, 119, 7);
  position: relative;
  top:0.4rem;
}
.main7{
  background-color: antiquewhite;
  height:70%;

  padding:1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  position:relative;
  right:0.2rem;
  overflow: hidden;
  

}
.content-flex{
  height: 60%;
  width: 95%;
display:flex;
  justify-content: space-evenly;
  padding: 2rem;
}
.flex-item2{
  max-width: 34rem;
  min-height:27rem;
  background-color: rgb(248, 119, 7);
  color: #fff;
  padding: 1.5rem;
  font-size:1.5rem;
}
.photo2 img{
  min-height: 28rem;
  max-width: 53rem;
}


.btn5{
  height: 4rem;
  width: 8rem;
  color: #fff;
  background-color: #000;
  font-size: 1.25rem;
  border: none;
}
.btn5:hover{
  color:rgb(248, 119, 7);
  background-color: #fff;
  transform:rotate(8deg);
}
.main8{
   background-color: antiquewhite;
  height:80%;
  margin-top:0.01rem;
  padding:1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  position:relative;
  right:0.2rem;
  overflow: hidden;
  
}
.content4{
  text-align: center;
}
.flex-4{
  display: flex;
  justify-content: space-evenly;
  padding:1rem;
  height:80%;
  width:83%;
  position: relative;
  left: 7rem;
}
.flex-item3{

  background-color: #000;
  color: #fff;
}
.circle{
  min-height: 8rem;
  max-width: 8rem;
  color: #fff;
  background-color: #000;
  border: 0.1rem solid #fff;
  border-radius: 50%;
  position: relative;
  left: 6rem;
  top: 1.5rem;
  bottom:1rem;
  margin: 0.75rem;
  margin-bottom:2rem;
  padding-top: 1.75rem;
  padding-left: 1rem;
}
.dollar{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  right: 0.5rem;
}
#para{
  margin: 0;
  line-height:1.05rem;
  font-family:serif;
  font-size: 1.5rem;
  font-weight: 400;
  border-bottom: 0.1rem solid white;
  border-top: 0.1rem solid white ;
  padding-left:1rem ;
  padding-right: 1rem;
  padding-bottom: 1rem;
  min-height: 1.25rem;
  align-items: center;
  
}
.btn6{
  color: #000;
  background-color: antiquewhite;
  height: 3rem;
  width: 8rem;
  margin: 2rem;
  position: relative;
  left:5rem;
  font-size: 1rem;
  font-weight: 400;
  border: none;
}
.btn7{
  color: #fff;
  background-color:rgb(248, 119, 7);
  height: 2.75rem;
  width: 8rem;
  margin: 2rem;
  position: relative;
  left:5rem;
  font-size: 1rem;
  font-weight: 400;
  border: none;
}
.btn6:hover{
  transform:rotate(8deg);
  background-color: white;
  color:rgb(248, 119, 7);

}
.btn7:hover{
  transform:rotate(8deg);
  background-color: white;
  color:rgb(248, 119, 7);


}

#h1{
  padding-left: 3.25rem;
  padding-top: 2.5rem;
}

h2{
  padding-left: 0.75rem;
  align-items: center;
}




.footer{
  background-color: black;
  color: white;
}
.footer-aboutsection{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 5px;
  font: size 5px;
}
.footer-aboutsection-content{
  width: 25%;
}
@media (max-width:800px){
  body{
    overflow-x: hidden;
  }
  .main{
    flex-wrap:wrap;
    flex-direction:column;
    align-items: center;
    text-align: center;
  }
  .content{
  
    padding:4rem 1.5rem;
    max-width:100%;
  }
  .form{
    margin: 2rem 0;
    max-width:90%;
    top:0;
  }
  input{
    min-width:100%;
  }
  #btn3{
    right:23%;
    transform:translate(-50%);
  }
  #btn4{
    right:23%;
    transform:translate(-50%);
  }
  .flex ,.flexa{
    flex-wrap:wrap;
    flex-direction:column;
    gap:1.5rem;
  }
  .flex1,.flex-2,.flex-3,.flex4{
    min-width:600px;
  }
    
  #icons{
        left: 50%;
        transform:translateX(50%)

  }
  .flex2{
        grid-template-columns: repeat(1,1fr);

  }
  .main4, content-flex{
        flex-wrap:wrap;
       flex-direction: column;
       text-align:center;
  }
  
  .photo img, .photo2 img{
    min-width:100%;
    min-height: auto;
  }
  .content2,.flex-item2{
    max-width:100%;
  }
  .icons2{
    left:0;
    margin:auto;
  }
  .cons{
    display: none;
  }
  .main6 .con{
    left:0;
    margin:auto;
  }
  .flex-4{
        flex-direction:column;
        left: 0;
        width: 100%;
        gap: 2rem;
  }
  .circle,.btn6,.btn7{
    left: 0;
    margin: auto;
  }
  .circle {
    margin-bottom: 1.75rem;
  }
  #para{
    text-align: center;
  }
  #h1{
    padding-left: 0;
    text-align:center;
  }
  #h2{
    position:relative;
    top:4rem;
    right:3rem;
  }

        

  }